@import "../../Pieces/Pieces.module.css";
@import "../Notifcation.module.css";
.promotion-choices {
	height: 12.5%;
}

.promotion-choices .piece {
	width: 25%;
	height: 100%;
	border: 1px solid black;
}

.promotion-choices .piece:hover {
	box-shadow: 0 0 0 5px black inset;
}

.promotion-choices :is(.wq, .bq) {
	left: 0;
}

.promotion-choices :is(.wr, .br) {
	left: 25%;
}

.promotion-choices :is(.wb, .bb) {
	left: 50%;
}

.promotion-choices :is(.wn, .bn) {
	left: 75%;
}
