@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");
@import "./constants";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg-color);
}

.app {
	display: grid;
	place-content: center;

	padding-top: 2rem;
	padding-bottom: 2rem;
	background: var(--bg-color);
	font-family: "Sofia Sans", sans-serif;
}
