@import "constants.css";
html,
body {
	margin: 0;
	padding: 0;
}

.app {
	display: grid;
	place-content: center;
	height: 100vh;
	/* background: red; */
	background: var(--bg-color);
	font-family: "Sofia Sans", sans-serif;
	grid-template-columns: auto 220px;
}
